.row {
display: flex;
align-items: baseline;
}

.row h2{
margin: 0;
margin-right: 10px;
}

.row p {
  margin: 10px;
}

.deleteBtn {
  background-color: #23cc7d;
  color: #ffffff;
  padding: 8px 13px;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  
  }